body {
  margin: auto;
}

blockquote {
  font-size: 3.4rem;
  color: white;
  position: absolute;
}

.index {
  background-image: url("./assets/index-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  background-image: url("./assets/intro-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.chap1 {
  background-image: url("./assets/chap1-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.background-overlay {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.493);
}

cite {
  display: block;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #aaa;
  font-style: normal;
}

blockquote q {
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: 0.2rem;
}

blockquote q::before {
  content: "";
}

blockquote q::after {
  content: "";
}

blockquote q span {
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}

q {
  quotes: "“" "”" "‘" "’";
}

.next-button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 0.774);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 200ms;
  opacity: 0;
  position: absolute;
}

.next-button:hover {
  box-shadow: 3px 3px 20px gray;
  transform: scale(1.2);
}

.next-button::before {
  content: "";
}

.arrow {
  border: solid rgba(255, 255, 255, 0.774);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
}

.right {
  transform: rotate(-45deg) translate(-8px, -8px);
}

.main-character {
  position: fixed;
  bottom: -80px;
  right: -23vw;
  transition: 1000ms;
  animation: mainCharacterAppear 1000ms ease-out forwards;
}


.guild-character {
  position: fixed;
  bottom: -180px;
  right: 30vw;
  transform: scale(1.6);
  transition: 1000ms;
  animation: guildCharacterAppear 1000ms ease-out forwards;
}

.conversation-guild {
  position: absolute;
  left: 220px;
  top: -60px;
  width: 250px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.678);
  background-color: rgba(0, 0, 0, 0.616);
  padding: 24px;
}

.conversation-guild > p {
  font-size: 0.9rem;
}

.conversation-guild::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 10px;
  bottom: -20px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.678);
  transform: skewX(-40deg);
}

@keyframes guildCharacterAppear {
  from {
    left: -23vw;
  }

  to {
    left: 20vw;
  }
}

@keyframes mainCharacterAppear {
  from {
    right: -23vw;
  }

  to {
    right: 6vw;
  }
}

.conversation {
  position: absolute;
  left: -320px;
  top: -80px;
  width: 400px;
  height: 160px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.678);
  background-color: rgba(0, 0, 0, 0.616);
  padding: 24px;
}

.conversation::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: 10px;
  bottom: -20px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.678);
  transform: skewX(40deg);
}

.conversation-text {
  font-family: monospace;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.scene2-bg {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  animation: shake 0.5s;
  animation-delay: 15000ms;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.night {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: rotateZ(45deg);
  top: -300px;
  right: -260px;
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before,
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -172px);
  left: calc(50% - 291px);
  animation-delay: 1664ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star::after:nth-child(1),
.shooting_star:nth-child(1)::after {
  animation-delay: 1664ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 9px);
  left: calc(50% - 60px);
  animation-delay: 9995ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star::after:nth-child(2),
.shooting_star:nth-child(2)::after {
  animation-delay: 9995ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 186px);
  left: calc(50% - 39px);
  animation-delay: 3645ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star::after:nth-child(3),
.shooting_star:nth-child(3)::after {
  animation-delay: 3645ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 181px);
  left: calc(50% - 189px);
  animation-delay: 8178ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star::after:nth-child(4),
.shooting_star:nth-child(4)::after {
  animation-delay: 8178ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -77px);
  left: calc(50% - 228px);
  animation-delay: 4583ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star::after:nth-child(5),
.shooting_star:nth-child(5)::after {
  animation-delay: 4583ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -90px);
  left: calc(50% - 60px);
  animation-delay: 3190ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star::after:nth-child(6),
.shooting_star:nth-child(6)::after {
  animation-delay: 3190ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -173px);
  left: calc(50% - 216px);
  animation-delay: 5388ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star::after:nth-child(7),
.shooting_star:nth-child(7)::after {
  animation-delay: 5388ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 144px);
  left: calc(50% - 295px);
  animation-delay: 3808ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star::after:nth-child(8),
.shooting_star:nth-child(8)::after {
  animation-delay: 3808ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 154px);
  left: calc(50% - 96px);
  animation-delay: 7682ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star::after:nth-child(9),
.shooting_star:nth-child(9)::after {
  animation-delay: 7682ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -174px);
  left: calc(50% - 238px);
  animation-delay: 3119ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star::after:nth-child(10),
.shooting_star:nth-child(10)::after {
  animation-delay: 3119ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -103px);
  left: calc(50% - 271px);
  animation-delay: 8961ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star::after:nth-child(11),
.shooting_star:nth-child(11)::after {
  animation-delay: 8961ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - 198px);
  left: calc(50% - 98px);
  animation-delay: 1467ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star::after:nth-child(12),
.shooting_star:nth-child(12)::after {
  animation-delay: 1467ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 114px);
  left: calc(50% - 31px);
  animation-delay: 8298ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star::after:nth-child(13),
.shooting_star:nth-child(13)::after {
  animation-delay: 8298ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 98px);
  left: calc(50% - 187px);
  animation-delay: 6815ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star::after:nth-child(14),
.shooting_star:nth-child(14)::after {
  animation-delay: 6815ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 147px);
  left: calc(50% - 223px);
  animation-delay: 8388ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star::after:nth-child(15),
.shooting_star:nth-child(15)::after {
  animation-delay: 8388ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 14px);
  left: calc(50% - 245px);
  animation-delay: 2230ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star::after:nth-child(16),
.shooting_star:nth-child(16)::after {
  animation-delay: 2230ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - 48px);
  left: calc(50% - 296px);
  animation-delay: 610ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star::after:nth-child(17),
.shooting_star:nth-child(17)::after {
  animation-delay: 610ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -48px);
  left: calc(50% - 284px);
  animation-delay: 2679ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star::after:nth-child(18),
.shooting_star:nth-child(18)::after {
  animation-delay: 2679ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 164px);
  left: calc(50% - 88px);
  animation-delay: 2952ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star::after:nth-child(19),
.shooting_star:nth-child(19)::after {
  animation-delay: 2952ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -57px);
  left: calc(50% - 93px);
  animation-delay: 9676ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star::after:nth-child(20),
.shooting_star:nth-child(20)::after {
  animation-delay: 9676ms;
}
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

#canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.travel-ship {
  position: absolute;
  bottom: -330px;
  left: 0;
  opacity: 0;
}

.travel-ship-index {
  position: absolute;
  left: 20vw;
  top: -24vh;
  transform: rotate(130deg) scale(0.3);
}